
.nav {
    margin: 0;
    width: 100%;
    background: gold;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.nav li {
    list-style: none;
}

a {
    text-decoration: none
}

button {
    margin: 0 10px;
}
